* {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2.8rem !important;
}

button {
    padding: 0.4rem 2rem;
}

.message-box {
    padding: 0.4rem;
    width: 100%;
}

.message-list {
    list-style: none;
}